name: CI

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - freeipa-mailserver-*
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: fedora:41

    steps:
    - name: Install build tools
      run: dnf install -y git tito

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v6

    - name: Set safe directory
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Install build dependencies
      run: dnf builddep -y $GITHUB_WORKSPACE/freeipa-mailserver.spec

    - name: Build rpm
      run: |
        ls -la
        git status
        tito build --test --rpm -o .

    - name: Test installation of built rpm
      run: dnf install -y noarch/*.rpm

    - uses: actions/upload-artifact@v6
      with:
        name: rpms
        path: ${{ github.workspace }}/noarch/*.rpm
